html, body, #map { 
  width: 100%; 
  height: 100%;  
  margin: 0; 
}  

.leaflet-label {
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);      
  border-radius: 2px;   
  font: 14px/16px Arial, Helvetica, sans-serif;        
  display: block;
  padding: 3px 5px;
  position: absolute;
  white-space: nowrap;
  margin-top: 37px;
}